syntax: glob
*.prof
*.res
*.pyc
*~
*.o
*.so
ctypes_ext.c
ctypes_extd.c
# asdl
asdl/cyast_gen.py
asdl/netir_gen.py
neco/backends/cython/cyast_gen.py
neco/core/netir_gen.py
*.orig
*_res
*/checker.[ch]
*/checker.pyx
*/checker_api.h
ctypes/ctypes_extd.pyx
ctypes/ctypes_extd.pxd
tests/benchmarks/ubi*
tests/common/include.pyx
*/net.c
tests/benchmarks/flow_process/net_api.h
*/net.h
*/net.py
*.gz
*.bz2
doc/api/*
net.pyx
net_api.h
net.pxd
*.pdf
*.dot
*.ps
*.svg
*.jpeg
neco/asdl/properties.py
neco/asdl/netir.py
neco/asdl/cython.py
neco/core/properties_gen.py
bin/necospotcli
bin/neco-spot
.pydevproject
.project
build/*
YappyTab
neco-spot/ctypes.h
*.err
*.old
*.tmp
neco/asdl/cpp.py
tests/basics/py_*
tests/basics/cy_*
neco/ctypes/ctypes_ext_api.h
neco/ctypes/ctypes_ext.h
neco/ctypes/ctypes_ext.cpp
trace
*.ig
.metadata/*
neco-spot-build/*
*.user
syntax: regexp
.*/.gone/.*
.gone/.*
*#*#
.#*
perm_log
tests/basics/build
tests/pids/cNsN/results_*
tests/pids/cNsN/begin_run_all
tests/pids/cNsN/end_run_all

